/frontend-web/node_modules
/frontend-web/.pnp
/frontend-web/.pnp.*
/frontend-web/.yarn/*
/frontend-web/!.yarn/patches
/frontend-web/!.yarn/plugins
/frontend-web/!.yarn/releases
/frontend-web/!.yarn/versions
/frontend-web/coverage
/frontend-web/.next/
/frontend-web/out/
/frontend-web/build
/frontend-web/.DS_Store
/frontend-web/*.pem
/frontend-web/npm-debug.log*
/frontend-web/yarn-debug.log*
/frontend-web/yarn-error.log*
/frontend-web/.env*
/frontend-web/.vercel
/frontend-web/*.tsbuildinfo
/frontend-web/next-env.d.ts

/bot-server/.wwebjs_auth/
/bot-server/session/

/bot-server/data.js
/bot-server/node_modules
/bot-server/.env".env" 
