export const contents = [
  {
    tim: {
      nama: "Esa",
      no: 4,
    },
    siswa: [
      "Student A",
      "Student B",
      "Student C",
      "Student D",
      "Student E",
      "Student F",
      "Student G",
    ],
  },
  {
    tim: {
      nama: "Piket Leader Student A",
      no: 5,
    },
    siswa: [
      "Student H",
      "Student I",
      "Student J",
      "Student K",
      "Student L",
      "Student M",
    ],
  },
  {
    tim: {
      nama: "Piket Leader Student B",
      no: 1,
    },
    siswa: [
      "Student N",
      "Student O",
      "Student P",
      "Student Q",
      "Student R",
      "Student S",
      "Student T",
    ],
  },
  {
    tim: {
      nama: "Piket Leader Student C",
      no: 2,
    },
    siswa: [
      "Student U",
      "Student V",
      "Student W",
      "Student X",
      "Student Y",
      "Student Z",
      "Student AA",
    ],
  },
  {
    tim: {
      nama: "Piket Leader Student D",
      no: 3,
    },
    siswa: [
      "Student BB",
      "Student CC",
      "Student DD",
      "Student EE",
      "Student FF",
      "Student GG",
      "Student HH",
    ],
  },
];

export const students = [
  "Student A",
  "Student B",
  "Student C",
  "Student D",
  "Student E",
  "Student F",
  "Student G",
  "Student H",
  "Student I",
  "Student J",
  "Student K",
  "Student L",
  "Student M",
  "Student N",
  "Student O",
  "Student P",
  "Student Q",
  "Student R",
  "Student S",
  "Student T",
  "Student U",
  "Student V",
  "Student W",
  "Student X",
  "Student Y",
  "Student Z",
  "Student AA",
  "Student BB",
  "Student CC",
  "Student DD",
  "Student EE",
  "Student FF",
  "Student GG",
  "Student HH",
];
